.container-cms{
  display:flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-right: auto;
}
.sidebar-cms{
  background: #000;
  color: #fff;
  /* height: 100vh; */
  height: 100%;
  /*width: 30%;*/
  transition: all 0.5s;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top:0;
}
.top_section-cms{
  display: flex;
  /*align-items:center;*/
  padding:20px 15px;
}
.logo-cms{
  font-size: 30px;
}
.bars-cms{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link-cms{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  justify-content: space-between;
}
.link-cms:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active-cms{
  background: lightskyblue;
  color: #000;
}
.icon-cms{
  font-size: 20px;
}

.link_text-cms{
  font-size: 16px;
}

.footer-logout-cms{
  bottom: 0;
  position: fixed;
  height: 10em;
  background-color: #000;
}

.header-cms {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background: rgb(147, 158, 169);
  height: 60px;
  margin-bottom: 20px;
  padding: 30px 20px;
  width: 100%;
  z-index: 1;
  /* for positioning text, links, etc */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /* color: white; */
  width: 100%;
  margin-right: auto;
}

#icon-text-cms{
  display: flex;
  justify-content: center;
}


#combine-cms{
  /* display: flex; */
  justify-content: center;
}

@media screen and (min-width: 300px) and (max-width: 374px) {
  .cms-text-content{
    width: 240px;
  }

}

@media screen and (min-width: 375px) and (max-width: 599px) {
  .cms-text-content{
    width: 290px;
  }

}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .cms-text-content{
    margin-right: 20px;
  }

}

@media screen and (min-width: 900px) and (max-width: 1219px) {

  #combine-cms {
    display: flex;
  }

  .cms-text-content{
    margin-right: 20px;
  }

}

@media screen and (min-width: 1220px) {
  #combine-cms {
    display: flex;
  }

  .cms-text-content{
    margin-right: 20px;
  }
}



/* TOGGLE SWITCH FOR DARK MODE */
/* .toggleLabel {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: "20px";
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSpan {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3e50;
  transition: 0.3s;
  border-radius: 30px;
}

.toggleSpan:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.toggleInput:checked + .toggleSpan {
  background-color: #00c853;
}

.toggleInput:checked + .toggleSpan:before {
  transform: translateX(29px);
}

.toggleStrong {
  position: absolute;
  left: 100%;
  width: max-content;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
  margin-right: "10px";
} */

