.container-cms{
  display:flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-right: auto;
}
.sidebar-cms{
  background: #000;
  color: #fff;
  height: 100vh;
  /*width: 30%;*/
  transition: all 0.5s;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top:0;
}
.top_section-cms{
  display: flex;
  /*align-items:center;*/
  padding:20px 15px;
}
.logo-cms{
  font-size: 30px;
}
.bars-cms{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link-cms{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  justify-content: space-between;
}
.link-cms:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active-cms{
  background: lightskyblue;
  color: #000;
}
.icon-cms{
  font-size: 20px;
}

.link_text-cms{
  font-size: 16px;
}

.footer-logout-cms{
  bottom: 0;
  position: fixed;
  height: 6em;
  background-color: #000;
}

.header-cms {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background: rgb(147, 158, 169);
  height: 60px;
  margin-bottom: 20px;
  padding: 30px 20px;
  width: 100%;
  z-index: 1;
  /* for positioning text, links, etc */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /* color: white; */
  width: 100%;
  margin-right: auto;
}

#icon-text-cms{
  display: flex;
  justify-content: center;
}


#combine-cms{
  /* display: flex; */
  justify-content: center;
}

@media screen and (min-width: 1024px) {

  #combine-cms {
    display: flex;
  }

}