.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: #feb062;
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}
 
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px;
    background-color: #feb062;
    height: 100vh;
    padding-top: 30px;
    
}
 
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}
 
.linkText {
    padding-left: 16px;
    color: #FFFFFF;
}
 
.linkTextClosed {
    composes: linkText;
    visibility: hidden;
}
 
.sideitem:hover {
    background-color: #183e55;

}
 
.menuBtn {
    align-self: center;
    align-self: flex-start; 
    justify-self: flex-end;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 10px;
}