.form-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 300px;
    width: 320px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .uploaded-row-product{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
    width: 320px;
  }
  
  .upload-content-product{
    display: flex;
    align-items: center;
  }

  .hidden-input-product{
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    visibility: hidden;
  }

.ReactTags__tags {
  position: relative;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
  /* font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px; */
  width: 100%;
  margin-top: 10px;
}
.ReactTags__tagInput input.ReactTags__tagInputField{
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  width: 100%;
}
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  border-color: #3c8dbc;
  box-shadow: none;
  outline: 0;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #feb062;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 2px 0 0px 10px;
  margin: 0 5px 3px;
  border-radius: 5px;
  border: none;
}
.ReactTags__selected a.ReactTags__remove {
  color: #000000;
  margin-left: 3px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin-right: 5px;
  margin-left: 3px;
  border-radius: 5px;
  background-color: transparent;
}

button.removeClass{
  width: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #000;
}